<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wangfeixixi.com.cw">

    <application android:theme="@style/theme_all">

        <activity android:name="wangfeixixi.com.cw.ui.map.MapActivity" />
        <activity android:name=".ui.bird.BirdActivity" />

        <service android:name=".widget.udp.sevice.UDPService" />

    </application>


</manifest>
