<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wangfeixixi.com.avp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="module_avp"
        android:supportsRtl="true"
        android:theme="@style/theme_all"
        tools:replace="label,icon,theme">

        <activity android:name=".AVPTEstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>
</manifest>
